@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Boushaba Imad-Eddine<br />
 <strong> TEL : </strong> 0611642395 <br />
    <strong title="Adress">Adress :</strong>
  Hay El khalloufi rue 5 nr 28 OUJDA 
</address>

<address>
    <strong>Email 1 :</strong>   <a href="mailto:imadeddine91@gmail.com">imadeddine91@gmail.com</a><br />
    <strong>Email 2 :</strong> <a href="mailto:imadelmarakchi@gmail.com">imadelmarakchi@gmail.com</a>
</address>